body {
  font-family: 'Nuosu SIL', sans-serif;
  background-image: radial-gradient(
    circle at top right,
    white 0%,
    white 30%,
    rgb(34, 222, 255) 30%,
    rgb(22, 153, 204) 35%,
    rgb(31, 166, 217) 35%,
    rgb(31, 166, 217) 38%,
    rgb(40, 177, 231) 38%,
    rgb(40, 161, 231) 40%,
    rgb(49, 190, 244) 40%,
    rgb(245, 240, 243) 100%
  );
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inside {
  margin-left: -360px;
  height: 35rem;
  width: 90rem;
}
.logo {
  margin-left: 100px;
  height: 150px;
  margin-top: 10px;
}

input::placeholder {
  font-family: 'Open Sans', sans-serif;
}

.formulaire1 {
  display: flex;
  flex-direction: column;
}

.gif {
  position: absolute;
  right: 2%;
  height: 280px;

  top: 50px;
}

label {
  font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width: 1180px) {
  .gif {
    display: none;
  }

  .container input {
    width: 350px;
    margin-left: 0px;
  }
}
a {
  color: #fff;
  border-color: #fff;
}
